<div class="cell">
    <form>

        <button class="btn btn-primary">Add</button>
        <br>
        <div class="input-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control">
        </div>

        <div class="input-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control">
        </div>

        <div class="input-group">
            <label for="address">Adress:</label>
            <input type="text" class="form-control">
        </div>

        <div class="input-group">
            <label for="details">Details:</label>
            <textarea type="text" class="form-control" rows="3">How did you meet?</textarea>
        </div>

    </form>
</div>