<div class="cell">
    <form [formGroup]="PhBookForm" (ngSubmit)="onSubmit()">

        <button class="btn btn-primary" [disabled]="!PhBookForm.valid">Add</button>
        <button class="btn btn-danger">Clear</button>
        <br>
        <div class="input-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>

        <div class="input-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>

        <div class="input-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" formControlName="phone">
        </div>

        <div class="input-group">
            <label for="address">Adress:</label>
            <input type="text" class="form-control" formControlName="address">
        </div>

        <div class="input-group">
            <label for="details">Details:</label>
            <textarea type="text" class="form-control" rows="3" formControlName="details">Who?</textarea>
        </div>

    </form>
</div>