<div class="col-xs-12">
    <a (click)="onEdit()" appDropdown>
    <div class="panel panel-default" style="cursor: pointer;">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{add.firstName}} {{add.lastName}} 
            <div class="pull-right"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{add.phone}}</div>
            </h3>
        </div>
        <div class="panel-body collapse">
          <p><b>Address:</b> {{add.address}}</p>
          <p class="body-detail"><b>Details:</b>{{add.details}}</p>
        </div>
      </div>
    </a>
</div>







